.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}


/* Swiper container */
.team-swiper {
    padding: 40px 0 60px;
    overflow: visible;
}

/* Slide base */
.team-swiper .swiper-slide {
    width: 400px;
    height: auto;
    transition: all 0.3s ease;
}

/* Slide activo (centro) */
.team-swiper .swiper-slide-active {
    transform: scale(1.05);
}

/* Slide inactivo */
.team-swiper .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.7;
}

/* Paginación */
.team-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #198754;
    opacity: 0.4;
}

.team-swiper .swiper-pagination-bullet-active {
    opacity: 1;
    width: 24px;
    border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .team-swiper .swiper-slide {
        width: 320px;
    }
}

.border-danger{
  border-color: var(--primary) !important;
}