.btn-primary{
    background-color: var(--primary);
    transition: all .5s ease;
    border-color: var(--primary-light);
}

.btn-primary:hover{
    font-size: 16px;
    padding: auto;
    transform: scale(1);   
    color: var(--primary);
    border: 1px solid var(--gray-light);    
    background-color: var(--primary-light);
}

.form-control:focus{
    box-shadow: 0 0 0 .25rem var(--primary-light)
}